<div class="wrap">
  <mat-accordion class="headers-align">
    <mat-expansion-panel [expanded]="step===0" (opened)="openPanel(0)">
      <mat-expansion-panel-header>
        <mat-panel-title class="training-title">
          Training Area
        </mat-panel-title>
        <mat-panel-description>
          <training-status #ts [payload]="trainingTextToSend" (status)="onStatusChange($event)">
          </training-status>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <textarea matInput class="input-area" [(ngModel)]="trainingText" (ngModelChange)="trainingTextChange()"
        [placeholder]="trainingTextAreaPlaceholder" (keyup)="searchUpdated.next($event)"></textarea>
      <mat-action-row class="card-action-row">
        <div class="train-bar">
          <mat-form-field class="train-select">
            <mat-select placeholder="Training Examples" [disableRipple]="true" (selectionChange)="onTrainingExampleSelect($event)"
              [(ngModel)]="trainingExampleSelect">
              <mat-option *ngFor="let opt of trainingButtons" [value]="opt.value">{{opt.displayName}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <button mat-raised-button [disabled]="trainingStatus !== 1" class="train-button" [matTooltip]="goPredictTooltip"
          color="primary" (click)="onNextStep()">{{trainingButtonText}}</button>
      </mat-action-row>
    </mat-expansion-panel>

    <suggest-area [step]="step" [disabled]="trainingStatus !== 1" (setStepRequest)="onSetStepRequest($event)"></suggest-area>

  </mat-accordion>
</div>