.training-title {
  font-size: 18px;
}

.headers-align {
  justify-content: space-between;
  align-items: center;
}

.input-area {
  min-height: 8rem;
  min-width: 100%;
  max-width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9rem;
  color: #4d4d4d;
}

.word-chip {
  background-color: #d9d9d9;
  color: #000;
  font-weight: 800;
  letter-spacing: 0px;
}

.word-chip-percent {
  letter-spacing: 0px;
  padding-left: 3px;
  font-size: 10px;
  color: #8c8c8c;
}

.word-chip-list {
  height: 40px;
}

.cut-off-label {
  font-size: 13px;
  margin-top: 3px;
  margin-left: 5px;
  color: #8c8c8c;
}

.loading-results {
  color: #8c8c8c;
}