<mat-expansion-panel [disabled]="disabled" [expanded]="step===1" (opened)="openPanel(1)">
  <mat-expansion-panel-header>
    <mat-panel-title class="training-title">
      Suggest Area 
      <span class="cut-off-label">{{originalLength > 5 ? cutOffLabelText : ''}}</span>
    </mat-panel-title>
  </mat-expansion-panel-header>

  <div class="word-chip-list">
    <mat-chip-list *ngIf="wordList$ | async as wordList2; else loading" [multiple]="false" [selectable]="false">
      <mat-chip *ngFor="let word of wordList2" class="word-chip" [selectable]="false"
        [matTooltip]="word.state" matTooltipClass="chip-tooltip" (click)="onChipSelect(word)">
        {{word.word}} <span class="word-chip-percent">({{word.weight}}%)</span>
      </mat-chip>
    </mat-chip-list>
    <ng-template #loading>
      <span class="loading-results">Loading predictions...</span>
    </ng-template>
  </div>

  <textarea matInput class="input-area" [(ngModel)]="userInput" (ngModelChange)="userInputChange()"
    [placeholder]="userInputPlaceHolder" #textareaInput></textarea>
  <mat-action-row class="card-action-row">
    <button mat-raised-button color="primary" (click)="previousStep()">Back to Training</button>
  </mat-action-row>
</mat-expansion-panel>
