/* import Material theme */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins|Roboto');

/* Global Properties */
.wrap {
  max-width: 50rem;
  margin: 1rem auto 1rem;
}

.center {
  text-align: center;
  max-width: 50rem;
}

* {
  font-family: Roboto,sans-serif;
  font-size: 18px;
}

.material-icons {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}

.mat-snack-bar-container {
  padding: 0 !important;
}

.chip-tooltip {
  font-size: 13px;
}

.card-action-row {
  height: 49px;
}

.training-title {
  
}