.toast {
  padding: 14px 24px;
}

.working {
  background-color: #ffff1a;
  color: #000;
}

.success {
  background-color: #c2f0c2;
  color: #000;
}

.clear-snack {
  float: right;
  cursor: pointer;
}